:root {
  --dark-color: hsl(230, 100%, 9%);
  --light-color: #fff;
  --bg-gradient: linear-gradient(
    to bottom,
    hsl(230, 95%, 99%),
    hsl(230, 95%, 84%)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2rem;
  font-family: "Poppins";
  color: var(--dark-color);
  background-image: url("https://products.ls.graphics/mesh-gradients/images/99.-Roman.jpg");
  background-size: cover;
  background-position: center top;
}

strong {
  font-weight: 700;
}

.overlay {
  width: min(100%, 1140px);
  /*   max-height: 640px; */
  padding: 8rem 6rem;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.overlay__inner {
  max-width: 36rem;
}

.overlay__title {
  font-size: 1.875rem;
  line-height: 2.75rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  margin-bottom: 2rem;
}

.text-gradient {
  background-image: linear-gradient(45deg, #ff0066, #ff1026);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.overlay__description {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 3rem;
  font-weight: 500;
}

.overlay__btn {
  padding: 1rem 3rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--light-color);
  background: var(--dark-color);
  border: none;
  border-radius: 0.5rem;
  transition: transform 150ms ease;
}

.overlay__btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media only screen and (max-width: 1140px) {
  .overlay {
    padding: 8rem 4rem;
  }
}

@media only screen and (max-width: 840px) {
  body {
    padding: 1.5rem;
  }

  .overlay {
    padding: 4rem;
    height: auto;
  }

  .overlay__title {
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  .overlay__description {
    font-size: 0.875rem;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .overlay {
    padding: 1.5rem;
  }

  .overlay__btns {
    /*     flex-wrap: wrap; */
  }

  .overlay__btn {
    width: 100%;
    /*     font-size: 0.75rem; */
  }
}
